[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=CoinFlip
Exec=CoinFlip
Name=CoinFlip
# translation example:
# your app name in German locale (de)
Name[de]=CoinFlip

